body,
h1,
h5 {
    margin: 0;
    font-family: var(--main-font);
    font-weight: var(--font-weight-thin);
    font-style: normal;
    color: var(--main-dark);
}

.main-wrapper {
    width: 100%;
    overflow: hidden;
}

.first-view {
    position: relative;
    margin: 0 auto;
    width: 90%;
    height: 88.5vh;
    padding-top: 26px;
}

.first-view-bg {
    position: absolute;
    background: url(./../Assets/Images/main-bg.png) center center;
    background-size: cover;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
}

.first-view__logo {
    width: 100%;
    text-align: left;
}

.first-view__content {
    width: 542px;
    height: 444px;
    margin-top: 62px;
}

.first-view__content h1 {
    text-transform: uppercase;
    margin-bottom: 24px;
    font-size: 60px;
}

.first-view__content h5 {
    font-family: var(--secondary-font);
    font-size: 18px;
    font-weight: normal;
    margin-bottom: 40px;
}

.first-view__content-buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: var(--secondary-font);
    font-weight: var(--font-weight-regular);
    font-size: var(--main-font-size-xxs);
}

.smooth-scroll-link {
    text-decoration: underline;
}

.first-view__running-text {
    width: 100%;
    height: 64px;
    background-color: var(--main-red);
    overflow: hidden;
    white-space: nowrap;
    display: flex;
    align-items: center;
}

@keyframes runText {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}

.running-text-container {
    overflow: hidden;
    white-space: nowrap;
}

.running-text {
    display: inline-block;
    animation: runText 10s linear infinite;
    font-size: var(--main-font-size-m);
    color: var(--main-white);
    text-transform: uppercase;
    margin: 18px 0;
}

.item-block {
    margin: 0 auto;
    width: 90%;
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: var(--secondary-font-size-l);
}

.support-block {
    margin-bottom: 80px;
}

.block__title {
    display: inline-block;
    width: 75%;
    text-transform: uppercase;
    font-size: var(--main-font-size-l);
    font-weight: var(--font-weight-xss);
}

.table-block-title {
    width: 100%;
    margin-top: 0;
    margin-bottom: 5rem;
    font-weight: var(--font-weight-xss);
}

.title-red {
    color: var(--main-red);
    font-weight: var(--font-weight-xxl);
}

.lecture-block-image {
    width: 394px;
    height: 250px;
    border-radius: 50% / 50%;
}

.lecture-block-image-mobile {
    display: none;
}

.table-block {
    margin-top: 35px;
    margin-bottom: 60px;
    align-items: start;
    font-size: var(--secondary-font-size-m);
}

.table-block__content {
    margin-top: 2rem;
}

.table-block-img {
    width: 474px;
    margin-right: 3rem;
}

.contact {
    color: var(--main-blue);
    font-weight: var(--font-weight-thin);
    font-family: var(--secondary-font);
    font-size: var(--main-font-size-s);
    margin-top: 48px;
}

.title {
    display: inline;
    font-size: var(--main-font-size-xl);
    margin: 0;
}

.title-blue {
    display: inline-block;
    color: var(--main-blue);
    font-family: var(--secondary-font);
    font-size: var(--secondary-font-size-m);
}

.grid-block {
    margin-top: 54px;
    position: relative;
    overflow: hidden;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
    width: 100%;
    font-family: var(--secondary-font);
    font-weight: var(--font-weight-regular);
}

.grid-item {
    display: flex;
    align-items: start;
    position: relative;
    padding: 1.5rem;
    background-color: #eee;
    background-image: url(../Assets/Images/bg-grid-card.png);
    background-size: cover;
    transition: transform 0.3s ease, box-shadow 0.3s ease;

    &:hover {
        transform: scale(1.05);
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    }
}

.circle {
    width: 30px;
    height: 30px;
    background-color: var(--main-white);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 1rem;
    font-size: var(--main-font-size-xxs);
    font-weight: var(--font-weight-bold);
}

.grid-item.span-multiple-rows {
    grid-row: span 2;
}

.grid-item.span-multiple-cols {
    grid-column: span 2;
}

.grid-item-descr {
    margin: 0;
    display: inline-block;
    width: 80%;
    font-size: var(--secondary-font-size-m);
    font-weight: var(--font-weight-regular);
    font-family: var(--secondary-font);
}

.grid-plane {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 100;
    width: 380px;
    transform: translateX(100%);
    transition: opacity 1s ease, transform 1s ease;
}

.in-view {
    opacity: 1;
    transform: translateX(0);
}

.grid > div:nth-child(n + 7) p {
    width: 44%;
}

.slider-block {
    margin-top: 200px;
    flex-wrap: wrap;
    margin-bottom: 140px;
    overflow: hidden;
    width: 100%;
}

.slider-block__header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 72px 60px 72px;
}

.slider-block__header h2 {
    text-transform: uppercase;
    font-size: var(--main-font-size-xl);
    font-weight: var(--font-weight-thin);
    margin: 0;
}

.mobile-controls {
    display: none;
}

.controls-mobile {
    display: none;
}

.slider-wrapper {
    display: none;
}

footer {
    background-color: var(--main-beige);
    padding: 40px 72px 72px 72px;
}
footer p {
    opacity: 50%;
    margin: 0;
    font-family: var(--secondary-font);
    font-size: var(--main-font-size-xxs);
}

/* mobile */

@media only screen and (max-width: 480px) {
    .first-view__content {
        width: 100%;
    }

    .first-view__content h1 {
        font-size: 36px;
    }

    .first-view__content-buttons {
        display: block;
    }

    .first-view__content-buttons a {
        display: inline-block;
        width: 100%;
    }

    .button {
        width: 100%;
        margin-bottom: 14px;
    }

    .button-secondary {
        background-color: var(--main-white);
        opacity: 90%;
        border: none;
    }

    .first-view__running-text {
        height: 72px;
    }

    .item-block {
        margin-top: 48px;
        display: block;
    }

    .item-block .title {
        font-size: var(--secondary-font-size-l);
    }

    .block__title {
        width: 100%;
    }

    .table-block-title {
        margin-bottom: 2rem;
    }

    .lecture-block-image {
        display: none;
    }

    .lecture-block-image-mobile {
        display: block;
        width: 335px;
        height: 212px;
        border-radius: 50% / 50%;
        margin-bottom: 25px;
    }

    .table-block__content {
        margin-top: 0;
    }

    .table-block-img {
        width: 335px;
    }

    .contact {
        margin-top: 40px;
    }

    .title-blue {
        font-size: var(--secondary-font-size-s);
    }

    .extra-space {
        display: none;
    }
    .grid-block {
        overflow: visible;
    }

    .mobile-slider.grid {
        display: flex;
        margin-top: 5rem;
        transition: transform 0.5s ease-in-out;
    }

    .grid-plane {
        top: -80px;
    }

    .mobile-slider.grid-item {
        flex: 0 0 33%;
        box-sizing: border-box;
        padding: 20px;
        text-align: center;
    }

    .mobile-slide {
        flex: 0 0 85%;
        display: flex;
    }

    .sub-grid {
        display: flex;
        align-items: start;
    }

    .mobile-slide .sub-grid:first-child {
        margin-bottom: 28px;
    }

    .slider-wrapper {
        display: block;
        position: relative;
        width: 100%;
        margin: 0 auto;
    }

    .mobile-controls {
        position: relative;
        top: 50%;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        transform: translateY(30%);
    }

    .control-btn {
        border-radius: 50%;
        width: 40px;
        height: 40px;
        background-color: var(--main-dark);
        color: var(--main-white);
        border: none;
        font-size: 24px;
    }

    .bullets {
        display: flex;
        justify-content: center;
        margin-top: 20px;
    }
    .bullet {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: grey;
        margin: 0 5px;
        cursor: pointer;
    }
    .bullet.active {
        background-color: black;
    }

    .slider-block__header h2 {
        font-size: var(--secondary-font-size-l);
    }

    .controls {
        display: none;
    }

    .controls-mobile {
        display: flex;
        width: 170px;
        margin: 0 auto;
        margin-top: 40px;
    }

    .slider-block {
        margin-bottom: 40px;
    }
}
