table {
    border-collapse: collapse;
    width: 100%;
}

td {
    padding: 15px 15px 15px 0;
    border-right: 1px solid var(--main-grey);
    border-bottom: 1px solid var(--main-grey);
    text-align: left;
    color: var(--main-grey);
    font-family: var(--secondary-font);
    font-weight: var(--font-weight-thin);
}

td:last-child {
    border-right: none;
    padding-left: 15px;
    color: var(--main-black);
    font-weight: var(--font-weight-bold);
}

tr:last-child td {
    border-bottom: none;
}

.special-style {
    text-decoration: line-through red;
}

@media only screen and (max-width: 767px) {
    table th,
    table td {
        display: block;
        width: 100%;
        box-sizing: border-box;
    }

    table tr {
        border-bottom: 1px solid var(--main-grey);
    }

    table td {
        border-right: none;
        border-bottom: none;
        padding-left: 0;
        padding-right: 0;
    }
    td:last-child {
        padding: 0 0 15px 0;
    }
}
