table {
    border-collapse: collapse;
    width: 100%;
}

td {
    padding: 15px 15px 15px 0;
    border-right: 1px solid var(--main-grey);
    border-bottom: 1px solid var(--main-grey);
    text-align: left;
    color: var(--main-grey);
    font-family: var(--secondary-font);
    font-weight: var(--font-weight-thin);
}

td:last-child {
    border-right: none;
    padding-left: 15px;
    color: var(--main-black);
    font-weight: var(--font-weight-bold);
}

tr:last-child td {
    border-bottom: none;
}

.special-style {
    text-decoration: line-through red;
}
